@using Pizza_Core.Models


<div class="card" style="width: 18rem;"> 
    <img src="@Pizza.ImagePath" class="card-img-top" alt="@Pizza.Name" style="Height:200px">
    <div class="card-body">
        <h5 class="card-title">@Pizza.Name</h5>
        <p class="card-text">@DisplayIngredient(Pizza)</p>
        <div class="d-flex justify-content-between align-items-center"> 
            <div class="d-flex justify-content-between" style="width: 7rem">
                <bouton class="btn btn-success" @onclick="OnClickAdd">
                    <!-- bouton panier -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                    <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1" />
                </svg>
            </bouton>
                <bouton class="btn btn-danger" @onclick="OnClickDelete">
                    <!-- bouton poubelle -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
            </bouton>
            </div>
            <p class="m-0 fw-bold">@Pizza.Price €</p>
        </div>
    </div>
</div>



@code {

    [Parameter]
    public EventCallback<Pizza> CallbackAddPizza { get; set; }
    [Parameter]
    public EventCallback<Pizza> CallBackDeletePizza { get; set; }

    [Parameter]
    public Pizza Pizza { get; set; } = new Pizza();

    public async Task OnClickAdd()
    {
        await CallbackAddPizza.InvokeAsync(Pizza);
    }

    public async Task OnClickDelete()
    {
        await CallBackDeletePizza.InvokeAsync(Pizza);

    }

    public string DisplayIngredient(Pizza pizza)
    {
        string ingredientList = "";
        foreach(var ingredient in pizza.Ingredients)
        {
            ingredientList += ingredient.Name + ", ";
        }

        return ingredientList;
    }

}
